/* Ширина страницы */

$body-width: 1900px;

$main-layout-width: 1170px;

/* Размер шрифта */


$font-size30: 30px;
$font-size54: 54px;

/* Межстрочный интервал */

$line-height: 100px;

$font-family: "Lato-Light";

/* цвета */

$color-black: #111111;
$color-vilet: #8b8194;

