<!DOCTYPE html>
html
    head
        meta(charset="utf-8")          
        title
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        header.header
            div.header__layout
                nav.header__menu
                    div.header__logo
                        a(href="index.html") 
                            img(src="img/E.png" width="60" height="60" alt="Логотип")
                            
                            -  links = [{name: "Portfolio", url:"#"},{name: "About", url: "#"},{name: "Blog", url:"#"},{name:"Contact", url:"#"}]              

                    ul
                      each link in links        
                        li  
                          a(href="#{link.url}") #{link.name}
                      
        main
            div.quote
                div.quote__layout The best designs are 
                    span.quote--vilet transparent
            div.portfolio
                div.portfolio__layout
                    h2 Pictures
                    
                    - links = [{name: "New",url: "#"},{name: "Man", url: "#"},{name: "Woman", url: "#"},{name: "Other", url: "#"}]
                    
                    ul.portfolio__menu
                        each link in links
                            li
                                a(href="#{link.url}") #{link.name}
                                
                    div.collage.clearfix
                        div.collage__left.clearfix
                            div.collage__left-1.clearfix
                                div.collage__left-10                                    
                                    div.collage__left-10-top(width="279")                                    
                                    img(src="img/img_portfolio10_bottom.jpg" width="279" alt="modern_look")
                                div.collage__left-11                                    
                                    div.collage__left-11-top(width="477" height="400")
                                        img(src="img/img_portfolio11_top.jpg" width="620" height="414" alt="modern_look")   
                                    img(src="img/img_portfolio11_bottom.jpg" width="477" alt="modern_look")                                    
                            div.collage__left-2                            
                                img(src="img/img_portfolio12.jpg" width="774" alt="modern_look")  
                        div.collage__right  
                            img(src="img/img_portfolio20.jpg" width="378" alt="modern_look")  
                            div.collage__right-21(width="378") Storytelling
                            div.collage__right-22
                    button.collage__btn load more
            div.snowboard
                    
    
    