@import "variables.scss";

@font-face{
    
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    
    font-family: "Lato-Hairline";
    src: url("../fonts/Lato-Hairline.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

body{
    
    width: 100%;
    
}

.clearfix:after{
    
    content: '';
    clear: both;
    display: table;    
    
}

.header{
    
    background: url("../img/bg.jpg") 0 0 no-repeat;         
    background-position: center;
    background-size: $body-width 920px;
    height: 920px;
    
    &__layout{

    width: $main-layout-width;
    margin: 0 auto;
    border-top: 1px solid transparent;
    position: relative;

    }
    
    &__logo{
        
        width: 60px;
        height: 60px;
        position: absolute;
            
        top: 25px;
        left: 50%;
        transform: translate(-50%);
        
    }

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: #c6c4ba;
        
        font: 100 #{$font-size30}/#{$line-height} $font-family_latolight;       
        
    }
    
    a:hover{
        
        color: white;
        
    }
    
    &__menu ul{
        
        list-style-type: none;   
        margin: 0;
        padding: 0;
        
    }
    
    &__menu li:first-of-type,
    &__menu li:nth-of-type(2){
        
        float: left;
        margin-right: 55px;
        
        
    }
    
    &__menu li:last-of-type,
    &__menu li:nth-of-type(3){
        
        float: right;
        margin-left: 55px;
        
    }
    
    
}

.quote{
    
    font: normal #{$font-size54}/#{$line-height} $font-family-playfairdisplay;
    
    text-align: center;
    text-transform: uppercase;
    color: color-black;
    
    &__layout{
        
        width: $main-layout-width;
        margin: 0 auto;
        margin: 100px 0;
        
        background: 
            url("../img/quote-open.png") 0 50% no-repeat,
            url("../img/quote-close.png") 100% 50% no-repeat;    
        background-size: 142px 107px;    
        
        letter-spacing: 0.04em;
                
    }

    width: $main-layout-width;
    margin: 0 auto;
    border-top: 1px solid transparent;
    position: relative;
    
    &--vilet{
        
        color: $color-vilet;
        
    }
    
}

.portfolio {
    
    background: #1d1a19 url("../img/bg_portfolio.jpg") 0 0 repeat;
    padding-bottom: 100px;
    width: $body-width;
    margin: 0 auto;
    
    &__layout{
        
        width: $main-layout-width;
        margin: 0 auto;        
        padding-top: 97px;
    }
    
    h2{
        
        text-align: center;
        font: normal #{$font-size-h2}/#{$line-height} $font-family-latohairline;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 70px;
        
    }
    
    &__menu{
        
        text-transform: uppercase;
        list-style-type: none;
        text-align: right;
        margin-left: 0;
        
        li{
            
            display: inline-block;
            vertical-align: top;            
            margin-right: 21px;
            
        }
        
        li:last-of-type{
            
            margin-right: 0;
            
        }
                
        a{
        
            color: $color-gray;
            text-decoration: none;
        
            :hover{
            
                text-decoration: underline;
                
            }
        }
          
    }
}
 
.collage{
    
    img{
        
        margin-bottom: 16px;
        display: block;
        
        filter: sepia(0.3) grayscale(0.4);
        
    }
    

    &__left{
        
        float:left;
        
    }

    
    &__left-1{
        
        float:left;        
        
    }
    
    &__left-2{
        
        width: 774px;        
        
    }
    
    &__left-10{
        
        float: left;
        width: 279px;
        margin-right: 18px;        
        
    }
    
    &__left-10-top{
        
        display: inline-block;
        vertical-align: top;
        
        width: 279px;
        height: 251px;
        
        margin-bottom: 18px;
                
        background: url('../img/img_portfolio10_top.jpg') 0 -20px no-repeat;
        background-size: 289px 289px;        
                
    }
    
    
    
    &__left-11-top{
        
        display: inline-block;
        vertical-align: top;
    /*    background: url(../img/img_portfolio11_top.jpg) -60px 0 no-repeat;        */
    /*   background-size: 477 430;*/
        background-color: black;
        width: 477px;
        height: 400px;
        margin-bottom: 15px;
        
        overflow: hidden;
        
        img{
            
            transform: translateX(-70px);
            
        }
    }
    
    &__left-11{
        
        float: right;
        width: 477px;
        
    }
    
    &__right{
        
        float:right;
            
    }
    
    &__right-21{
        
        width: 378px;
        padding: 29px 0;
        margin-bottom: 18px;
        
        text-align: center;
        text-transform: uppercase;
        font: 100 38px/83px $font-family-latolight;
        color: $color-white;
        background-color: $color-dark-gray;
        
    }
    
    &__right-22{
        
        display: inline-block;
        vertical-align: bottom;
            
        width: 378px;
        height: 440px;
        
        background: url(../img/img_portfolio21.jpg) 0 -60px no-repeat;
        background-size: 378px 516px;
        
        border-radius: 10px;
        
        
    }
    
    &__btn{
        
        width:100%;
        font: 100 50px/#{$line-height} $font-family-latolight;
        text-transform: uppercase;
        color: $color-gray;
        background-color: $color-gray-middle;
        border: none;
        
    }
        
}

.snowboard{
    
 
    background: url(../img/img_snowborder.jpg) 0 0 no-repeat;
    background-size: $body-width 605px;
    background-position: center;
    height: 605px;
    
    
}